<div #container class="w-100 h-100 position-relative chart-container">
  <div *ngIf="ohlc" #legend class="position-absolute legend-left">
    <span>O</span>
    <span class="text-info">{{ ohlc.open }}</span>
    <span> H</span>
    <span class="text-info">{{ ohlc.high }}</span>
    <span> L</span>
    <span class="text-info">{{ ohlc.low }}</span>
    <span> C</span>
    <span class="text-info">{{ ohlc.close }}</span>
    <span [ngClass]="{'green': currentProfit > 0, 'red': currentProfit < 0 }"> {{ currentProfit }}</span>
    <span>%</span>
  </div>
  <p *ngIf="currentKlines" class="position-absolute font-weight-bold symbol">
    {{ currentKlines[0].symbol }}
  </p>
  <div class="position-absolute legend-right">
    <label class="mr-2">commission</label>
    <input class="align-middle" type="checkbox" (change)="onCommissionChange($event)">
    <label class="ml-5 mr-2">flowing profit</label>
    <input class="align-middle" type="checkbox" (change)="onFlowingProfitChange($event)">
    <div *ngIf="stats" class="text-right mt-4 stats">
      <div>
        <span>profit: </span>
        <span [ngClass]="{'green': stats.profit > 0, 'red': stats.profit < 0 }">{{ stats.profit }}</span>
        <span>%</span>
      </div>
      <div>
        <span>max drawback: </span>
        <span [style.color]="getColor(stats.maxDrawback, 0, 100)">{{ stats.maxDrawback }}</span>
        <span>%</span>
      </div>
      <div>
        <span>trades: </span>
        <span>{{ stats.numberOfTrades }} </span>
        <span class="green">{{ stats.positive }}</span>
        <span>/</span>
        <span class="red">{{ stats.negative }}</span>
      </div>
    </div>
  </div>
</div>