:host {
  display: block;
}

.red {
  color: #ff4d4d;
}

.green {
  color: lime;
}

.chart-container {
  width: 100%;

  .legend-left {
    top: 20px;
    left: 100px;
    z-index: 10;
    user-select: none;
    pointer-events: none;
  }

  .symbol {
    font-size: 200px;
    left: 50%;
    top: -5%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0.08;
    user-select: none;
    pointer-events: none;
  }

  .legend-right {
    top: 20px;
    right: 100px;
    z-index: 10;

    input {
      width: 15px;
      height: 15px;
    }

    label, .stats {
      user-select: none;
      pointer-events: none;
    }
  }
}
