<div #apexChart class="apex-chart"></div>
<div *ngIf="!flowingProfit" class="d-flex justify-content-between ml-5">
  <p>Profit per single trading amount (average profit per invested dollar): {{ stats?.ppa }}</p>
  <p>Cumulative total profit: {{ stats?.profit }}</p>
  <p>Number of trades: {{ stats?.trades }}</p>
  <p>Positive / Negative: {{ stats?.positiveNegative }}</p>
  <p>Percentage max drawback / profit: {{ stats?.drawbackProfitRatio }}</p>
  <p>Cumulative max drawback: {{ stats?.maxDrawback }}</p>
</div>