<div #container class="w-100 position-relative chart-container" (mouseenter)="chartHovered.set(true)"
  (mouseleave)="chartHovered.set(false)">
  @if (chartHovered()) {
  @if (currentOhlc(); as ohlc) {
  <div #legend class="position-absolute legend-left" [ngStyle]="{'left': isMulti ? '20px' : '100px'}">
    <span>O</span>
    <span [ngClass]="ohlc.open < ohlc.close ? 'green' : 'red'">{{ ohlc.open }}</span>
    <span> H</span>
    <span [ngClass]="ohlc.open < ohlc.close ? 'green' : 'red'">{{ ohlc.high }}</span>
    <span> L</span>
    <span [ngClass]="ohlc.open < ohlc.close ? 'green' : 'red'">{{ ohlc.low }}</span>
    <span> C</span>
    <span [ngClass]="ohlc.open < ohlc.close ? 'green' : 'red'">{{ ohlc.close }}</span>
    <span [ngClass]="currentProfit()[0] > 0 ? 'green' : 'red'"> {{ currentProfit()[0] }}</span>
    <span>%</span>
    @if (currentProfit()[1] !== undefined) {
    <span> / </span>
    <span [ngClass]="currentProfit()[1] > 0 ? 'green' : 'red'">{{ currentProfit()[1] }}</span>
    <span>%</span>
    }
    @if (openPositionSize(); as positionSize) {
    <span [ngClass]="{'turquoise': positionSize > 0, 'pink': positionSize < 0 }">
      {{ positionSize }}
    </span>
    <span>$</span>
    }
    <p>i{{currentIndex()}} {{formatBarTime(ohlc.time)}}</p>
    @for (indicator of currentIndicatorValues(); track indicator.label) {
    <p><span class="indicator-label">{{indicator.label}}</span> {{indicator.value}}</p>
    }
  </div>
  }
  }
  <div class="position-absolute legend-right" [ngStyle]="{'right': isMulti ? '20px' : '100px'}">
    @if (stats) {
    <div class="text-end stats">
      <div>
        <span [ngClass]="{'green': stats.profit > 0, 'red': stats.profit < 0 }">{{ stats.profit }}</span>
        <span>% profit</span>
      </div>
      <div>
        <span [style.color]="statsService.getDrawbackColor(stats.maxDrawback, 0, 100)">{{ stats.maxDrawback }}</span>
        <span>% max drawback</span>
      </div>
      <div>
        <span>{{ stats.numberOfTrades }} trades</span>
      </div>
    </div>
    }
  </div>
</div>