<div #container class="w-100 h-100 position-relative chart-container">
  <div *ngIf="ohlc" #legend class="position-absolute legend-left" [ngStyle]="{'left': chartService.isMulti ? '20px' : '100px'}">
    <span>O</span>
    <span class="text-info">{{ ohlc.open }}</span>
    <span> H</span>
    <span class="text-info">{{ ohlc.high }}</span>
    <span> L</span>
    <span class="text-info">{{ ohlc.low }}</span>
    <span> C</span>
    <span class="text-info">{{ ohlc.close }}</span>
    <span [ngClass]="{'green': currentProfit > 0, 'red': currentProfit < 0 }"> {{ currentProfit }}</span>
    <span>%</span>
  </div>
  <div *ngIf="currentKlines" class="position-absolute d-flex justify-content-center align-items-center symbol">
    <img *ngIf="!chartService.isMulti" class="d-inline-block mr-4 mt-4" [src]="'assets/images/' + chartService.exchange + '.png'">
    <p class="d-inline-block font-weight-bold" [ngStyle]="{'font-size': chartService.isMulti ? '110px' : '200px'}">{{ currentKlines[0].symbol }}</p>
  </div>
  <div class="position-absolute legend-right" [ngStyle]="{'right': chartService.isMulti ? '20px' : '100px'}">
    <div *ngIf="!chartService.isMulti">
      <label class="mr-2">commission</label>
      <input class="align-middle" type="checkbox" (change)="onCommissionChange($event)">
      <label class="ml-3 mr-2">flowing profit</label>
      <input class="align-middle" type="checkbox" (change)="onFlowingProfitChange($event)" checked>
    </div>
    <div *ngIf="stats" class="text-right stats" [ngClass]="{'mt-4': !this.chartService.isMulti}">
      <div>
        <span>profit: </span>
        <span [ngClass]="{'green': stats.profit > 0, 'red': stats.profit < 0 }">{{ stats.profit }}</span>
        <span>%</span>
      </div>
      <div>
        <span>max drawback: </span>
        <span [style.color]="getColor(stats.maxDrawback, 0, 100)">{{ stats.maxDrawback }}</span>
        <span>%</span>
      </div>
      <div>
        <span>trades: </span>
        <span>{{ stats.numberOfTrades }} </span>
        <span class="green">{{ stats.positive }}</span>
        <span>/</span>
        <span class="red">{{ stats.negative }}</span>
      </div>
    </div>
  </div>
</div>