:host {
  display: block;
}

.red {
  color: #ff4d4d;
}

.green {
  color: lime;
}

.turquoise {
  color: #00ffa2;
}

.pink {
  color: #ff00aa;
}

.chart-container {
  width: 100%;

  .legend-left {
    top: 20px;
    z-index: 10;
    user-select: none;
    pointer-events: none;
  }

  .symbol {
    width: 100%;
    top: -5%;
    z-index: 10;
    opacity: 0.08;
    user-select: none;
    pointer-events: none;

    img {
      height: 140px;
      width: 140px;
    }
  }

  .legend-right {
    top: 20px;
    z-index: 10;

    input {
      width: 15px;
      height: 15px;
    }

    label,
    .stats {
      user-select: none;
      pointer-events: none;
    }
  }
}
