@if (chartService.loading) {
  <div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <loader></loader>
    <div class="d-flex mt-5 mb-5">
      <h2 class="d-inline-block">{{ chartService.loadingText }}</h2>
      <code class="d-inline-block ms-5 fs-3">{{ chartService.loadingTextInfo }}</code>
    </div>
  </div>
}
@if (!chartService.isMulti && klines) {
  <mixed-chart class="mixed-chart" [klines]="klines"></mixed-chart>
}
@if (chartService.isMulti && tickers) {
  <div class="mixed-chart-multi-container">
    @for (ticker of tickers; track ticker) {
      <mixed-chart class="mixed-chart-multi" [klines]="ticker"></mixed-chart>
    }
  </div>
}